html {
  box-sizing: border-box;
}

:root {
  --pastel-pink: #ffc0cb;
  --dark-gray: #333;
  --deep-pink: #ff1493;
  --white: #fff;
  --hot-pink: #ff69b4;
  --light-purple: #dac2ee;
  --deep-purple: #7b11ec;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Abril Fatface', serif, sans-serif;
  font-weight: 400;
  background-color: var(--pastel-pink);
  color: var(--dark-gray);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 700;
  color: var(--white);
  background-color: var(--hot-pink);
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 0 var(--dark-gray);
  margin: 10px;
}

h2 {
  font-weight: 700;
  color: var(--deep-pink);
}

/* Navigation Styles */

#main-navbar {
  background-color: var(--deep-pink);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
}

#navbar-container {
  width: 80%;
  padding: 0 10%; 
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-navbar ul li {
  margin: 0;
  padding: 0;
}

#main-navbar ul li a {
  padding: 10px 20px;
  color: var(--white);
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  border-radius: 5px;
  margin: 0 5px;
}

#main-navbar ul li a:hover {
  background-color: var(--hot-pink);
  padding: 10px 25px;
}

/* Index Page Styles */

#index-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--pastel-pink);
}

.index-section {
  text-align: center;
  margin: 20px 0;
}

.index-section ul {
  list-style: none;
  padding: 0;
}

.index-section ul li {
  margin: 10px 0;
}

.index-section h3 {
  font-weight: 700;
}

/*Books Page Styles*/
#book-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 80%;
}

.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

.book-section:first-child {
  margin-top: 0;
}


.book-section img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.book-section p {
  margin: 0; 
}

.fluid-page {
  background-color: var(--pastel-pink);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fluid-page h1 {
  background-color: var(--hot-pink);
  text-shadow: 2px 2px 0 var(--dark-gray);
  margin: 10px;
}

.fluid-page h2 {
  color: var(--deep-pink);
}

.book-section h2 {
  color: var(--deep-pink);
  margin: 10px 0;
}

.book-section img {
  max-width: 100%;
  height: auto;
}

.book-section p {
  text-align: center;
  margin: 10px 0;
}

/*Music Page Styles*/

#music-body {
  background-color: #dac2ee;
}

.music-header {
  color: var(--deep-purple);
  text-shadow: none;
}

#video-1 {
  border: 5px solid var(--hot-pink);
}

#video-2 {
    border: 5px solid var(--dark-gray);
}

.music-section {
  margin-bottom: 20px;
}

/* Media query for small devices*/
@media screen and (max-width: 767px) {

  .music-header {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .music-section {
    padding: 20px;
  }

  #video-1,
  #video-2 {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}

/* Media query for medium-sized devices*/
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .music-header {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .music-section {
    padding: 30px;
  }

  #video-1,
  #video-2 {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }
}